Etapa 3 da autenticação (TOTP)

Na terceira e última etapa de autenticação, deve-se verificar o token do usuário (algo que 
ele possui) fornecido para o sistema através do aplicativo Google Authenticator. Esse aplicativo 
gera uma Time-based One Time Password (TOTP) com base nos RFCs 4226, 4648 e 6238. O 
RFC 6238 define o uso de um contador de tempo que conta a quantidade de intervalos de 30 
segundos (time step in seconds) decorridos desde Janeiro 1, 1970, 00:00:00 GMT. E, o RFC 
4226, define o uso do algoritmo HMAC-SHA1 para gerar um HMAC em função do contador de 
tempo e de uma chave secreta de 160 bits (20 bytes). Por sua vez, o RFC 4648 define três formas 
de codificação de valores binários: BASE64, BASE32 e BASE16. A chave secreta de 160bits 
deverá ser codificada em BASE32 para exportação entre sistemas e decodificada para o cálculo 
do HMAC-SHA1. O código TOTP é um valor de 6 algarismos produzido a partir do truncamento do 
hash do HMAC-SHA1, conforme especificado no RFC 4226. O código TOTP é preenchido com 
zeros à esquerda quando necessário e muda seu valor a cada 30 segundos. Esse código TOTP 
deve ser fornecido pelo usuário na tela de autenticação do programa Cofre Digital, que, por sua 
vez, deve trabalhar com uma margem de erro de 30 segundos a menos e 30 segundos a mais. 
Para isso, deve calcular três valores de token: (i) um valor com a quantidade de intervalos de 30 
segundos decorridos até o presente momento; (ii) outro valor com um intervalo de 30 segundos à 
menos; e (iii) outro valor com um intervalo de 30 segundos a mais. Se a verificação for negativa 
para os três valores calculados, o usuário deve ser apropriadamente avisado e o processo deve 
contabilizar um erro de verificação de token, retornando para o início da terceira etapa. Após três 
erros consecutivos sem que ocorra uma verificação válida do token, deve-se seguir para a 
primeira etapa e o acesso do usuário deve ser bloqueado por 2 minutos (outros usuários poderão 
tentar ter acesso). Se a verificação for positiva, o processo deve permitir acesso ao sistema. 